# all csv-files
*.csv

# login file
config.py

# that DS store thing
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# cache
__pycache__/

# prototyping notebook 
reddit_analysis_prototyping.ipynb
